<button class="userPreview">
	<div class="container">
		<div class="avatar has3dBorder"
			{{#if avatar}}
			 style="background-image: url('{{avatar}}')"
			{{/if}}
		>
			{{#if avatarText}}{{avatarText}}{{/if}}
		</div>
		<div class="text">
			<div class="name">
				{{displayName}}
			</div>
			<!--div class="additional">Добавить в текущий чат</div-->
		</div>
	</div>
</button>
