<form action="">
	<div class="sign-in-container">
		<div class="logo"></div>
		<div class="inputs">
			<p>Введите логин и пароль для входа.</p>
			{{{loginLine}}}
			{{{passwordLine}}}
		</div>
		<div class="buttons">
			{{{buttonSubmit}}}<br>
			{{{buttonRegister}}}
		</div>
	</div>
</form>
