<form action="">
	<div class="signInContainer">
		<div class="logo"></div>
		<div class="inputs" data-holder="inputs">
			<p>Введите логин и пароль для входа.</p>
		</div>
		<div class="buttons" data-holder="buttons">
		</div>
	</div>
</form>
