<form action="">
	<div class="signInContainer">
		<div class="logo"></div>
		<div class="inputs">
			<p>Введите логин и пароль для входа.</p>
			<div data-holder="inputs"></div>
		</div>
		<div class="buttons" data-holder="buttons"></div>
	</div>
</form>
