<div class="preview">
	<div class="name">{{name}}</div>
	<div class="time">{{time}}</div>
	<div class="last_message">{{text}}</div>
	{{#if unreadCount}}
		<div class="unread_count">{{unreadCount}}</div>
	{{/if}}
</div>