<div>
	<div class="profile-container">
		<div class="avatar">
			<input class="avatar" type="text" readonly style="background-image: url('{{avatar}}')">
			{{{buttonChangeAvatar}}}
		</div>
		<div class="info">
			{{#each infoLines}}
				<p>{{{this}}}</p>
			{{/each}}
		</div>
	</div>
	<div class="buttons">
		{{#each buttons}}
			{{{this}}}
		{{/each}}
	</div>
</div>