<form action="">
	<div class="profileContainer">
		<div class="avatar">
			<input class="avatar" type="text" name="avatar" readonly style="background-image: url('{{avatar}}')">
			<div data-holder="avatar"></div>
		</div>
		<div class="info" data-holder="inputs"></div>
	</div>
	<div class="buttons" data-holder="buttons"></div>
</form>
