<form action="">
	<div class="signUpContainer">
		<div>
			<div class="logo"></div>
		</div>
		<div>
			<p>Введите логин и пароль для регистрации.</p>
			<div class="inputs" data-holder="inputs"></div>
			<div class="buttons" data-holder="buttons"></div>
		</div>
	</div>
</form>
