<form action="">
	<div class="signUpContainer">
		<div>
			<div class="logo"></div>
		</div>
		<div>
			<p>Введите логин и пароль для регистрации.</p>
			<div class="inputs">
				{{#each infoLines}}
					{{{this}}}
				{{/each}}
			</div>
			<div class="buttons">
				{{{buttonSubmit}}}
				{{{buttonCancel}}}
			</div>
		</div>
	</div>
</form>
