div.window.messenger {
	min-width: 500px;
	max-width: 800px;
	height: 600px;
	margin: auto;
	box-sizing: border-box;

	/* stylelint-disable selector-class-pattern */
	div.window-body {
		padding: 0;
		height: calc(100% - 36px);
		position: relative;
		box-sizing: border-box;
		/* stylelint-enable selector-class-pattern */

		div.messengerContainer {
			margin: 0;
			padding: 0;
			display: flex;
			flex-flow: row nowrap;
			justify-content: start;
			align-items: stretch;
			align-content: flex-start;
			height: 100%;

			div.sidebar {
				min-width: 250px;
				width: 35%;
				margin-right: 11px;
				display: flex;
				flex-flow: column nowrap;
				justify-content: start;
				align-items: stretch;
				align-content: flex-start;

				div.container {
					display: flex;
					flex-flow: row nowrap;
					justify-content: start;
					align-items: center;
					align-content: flex-start;

					input {
						flex-grow: 1;
						margin-right: 7px;
					}
				}

				fieldset.profileField {
					margin-bottom: 7px;

					div.container {
						div.avatar {
							background-repeat: no-repeat;
							background-size: 100% 100%;
							width: 32px;
							height: 32px;
							text-align: center;
							font-size: 1.25rem;
							line-height: 32px;
						}

						div.displayName {
							padding-left: 7px;
							font-weight: bold;
							flex-grow: 1;
						}

						button.details {
							min-width: 60px;
						}
					}
				}

				fieldset.createField,
				fieldset.searchField {
					margin-bottom: 7px;
				}

				menu {
					margin-top: 4px;
				}

				article:not([hidden]) {
					flex-grow: 1;
					max-height: calc(100% - 190px);

					div.container {
						height: 100%;
					}
				}

				fieldset.chatsListField {
					overflow-y: auto;
					flex-grow: 1;
				}
			}

			div.chatFeedHolder {
				position: relative;
				flex-grow: 1;
				height: 100%;
			}
		}
	}
}
