<div class="messengerContainer">
	<div class="sidebar">
		<fieldset class="profileField">
			<legend>Мой профиль</legend>
			<div class="container">
				<div class="avatar has3dBorder" style="background-image: url('{{avatar}}')"></div>
				<div class="nickname">{{nickname}}</div>
				<div data-holder="details"></div>
			</div>
		</fieldset>
		<fieldset class="searchField">
			<legend>Поиск по диалогам</legend>
			<form action="">
				<div class="container" data-holder="search"></div>
			</form>
		</fieldset>
		<fieldset class="chatsListField">
			<legend>Диалоги</legend>
			<div class="container" data-holder="chatlist"></div>
		</fieldset>
	</div>
	<div class="chatFeedHolder" data-holder="chatFeed"></div>
</div>
