<div class="messenger-container">
	<div class="sidebar">
		<fieldset class="profileField">
			<legend>Мой профиль</legend>
			<div class="container">
				<div class="avatar has3dBorder" style="background-image: url('{{profile.avatar}}')"></div>
				<div class="nickname">{{profile.nickname}}</div>
				<button class="details">Детали</button>
			</div>
		</fieldset>
		<fieldset class="searchField">
			<legend>Поиск по диалогам</legend>
			<div class="container">
				<input type="text" class="inputSearch">
				<button class="buttonSearch">Найти</button>
			</div>
		</fieldset>
		<fieldset class="chatsListField">
			<legend>Диалоги</legend>
			<div class="container"></div>
		</fieldset>
	</div>
	<div class="chatFeedHolder"></div>
</div>