<form action="">
	<div class="optionsContainer">
		<div class="avatar">
			<div class="avatarImage has3dBorder"
				{{#if avatar}}
				 style="background-image: url('{{avatar}}')"
				{{/if}}
			>
				{{#if avatarText}}{{avatarText}}{{/if}}
			</div>
			<div data-holder="avatar"></div>
		</div>
		<div class="info" data-holder="settings"></div>
	</div>
	<div class="buttons" data-holder="buttons"></div>
</form>
