<div class="fileUploadContainer">
	<form action="">
		<p>Выберите файл для загрузки</p>
		<input type="file" name="file" class="file">
		<button type="button" id="buttonSelect">Выбрать файл</button>
	</form>
</div>
