<div class="file-upload-container">
	<form action="">
		<p>Выберите файл для загрузки</p>
		<input type="file" name="file" class="file">
		<button type="submit" id="buttonSelect">Выбрать файл</button>
	</form>
</div>
