<div class="fileUploadContainer">
	<form action="">
		<p>Выберите файл для загрузки</p>
		<input type="file" name="file" class="file" accept="image/*">
		<button type="button">Выбрать файл</button>
	</form>
</div>
