<div class="window" id="{{id}}">
	<div class="header">
		{{#if title}}
			<div class="title">{{title}}</div>
		{{/if}}
	</div>
	<div class="content">
		{{#if subtitle}}
			<div class="subtitle">{{subtitle}}</div>
		{{/if}}
		{{#if content}}
			{{{content}}}
		{{/if}}
	</div>
</div>