<div>
	<div class="errorContainer">
		<div class="logo"></div>
		<div>
			{{#each text}}
				<p>{{{this}}}</p>
			{{/each}}
			<div data-holder="messages"></div>
		</div>
	</div>
	<div class="buttonsContainer" data-holder="buttons"></div>
</div>
