.chatFeed {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	height: 100%;

	&.hidden {
		display: none;
	}

	div.header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: start;
		align-items: center;
		align-content: flex-start;
		padding: 3px 0 11px;

		div.avatar {
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 32px;
			height: 32px;
			margin-right: 7px;
		}

		div.chatName {
			flex-grow: 1;
			font-weight: bold;
		}
	}

	div.feed {
		min-height: 200px;
		background: var(--chatBackground);
		padding: 5px 7px;
		flex-grow: 1;
	}

	div.newMessage {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: flex-start;
		align-content: flex-start;
		padding: 0 0 3px;

		input.text {
			display: inline-block;
			flex-grow: 1;
			margin-top: 11px;
		}

		div.buttons {
			text-align: right;
			margin-left: 7px;
			margin-top: 11px;

			button.send {
				margin-right: 7px;
			}
		}
	}
}

.message {
	&.in {
		color: var(--messageTextIncoming);
	}

	&.out {
		color: var(--messageTextOutgoing);
	}

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}
