<div class="chatFeed">
	<div class="header">
		<div class="avatar">{{avatar}}</div>
		<div class="chatName">{{chatName}}</div>
		<button class="options">Опции</button>
	</div>
	<div class="feed"></div>
	<div class="newMessage">
		<input type="text" class="text" value="">
		<button class="attach">Прикрепить файл</button>
		<button class="send">Отправить</button>
	</div>
</div>