<div class="chatFeed">
	<div class="header">
		<div class="avatar has3dBorder"></div>
		<div class="chatName"></div>
		<button class="options" type="button">Опции</button>
	</div>
	<div class="feed has3dBorder"></div>
	<form action="">
		<div class="newMessage">
			<input id="message" type="text" class="text" name="message" value="">
			<div class="buttons">
				<button class="send" type="submit">Отправить</button>
				<button class="attach" type="button">Файл</button>
			</div>
		</div>
	</form>
</div>
