<div class="chatFeed hidden">
	<div class="header">
		<div class="avatar has3dBorder">{{avatar}}</div>
		<div class="chatName">{{chatName}}</div>
		<button class="options">Опции</button>
	</div>
	<div class="feed has3dBorder"></div>
	<div class="newMessage">
		<input id="message" type="text" class="text" value="">
		<div class="buttons">
			<button class="send">Отправить</button>
			<button class="attach">Файл</button>
		</div>
	</div>
</div>
